@import "../../../../assets/css/variables.scss";

.videoInsert {
    width: 100%;
    height: 504px;
}

.change {
    border-radius: 0px 142px;
    background: #df3b8e;
    &-1 {
        max-width: 913px;
        position: relative;
    }
}

.row::after {
    content: "";
    position: absolute;
    right: -30px;
    bottom: -46px;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-left: 90px solid #509fde;
    border-bottom: 60px solid transparent;
}

.cards {
    border: 2px solid #8863a6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 21px;
    min-width: 233px;
    max-width: 233px;
    min-height: 361px;
    max-height: 361px;
    z-index: 10;
    img {
        max-width: 103px;
        max-height: 135px;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    h3 {
        padding-top: 16px;
    }
    p {
        line-height: 19px;
    }
}

.cards2 {
    border: 0.5px solid #b0b0b0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    min-width: 385px;
    max-width: 385px;
    min-height: 270px;
    max-height: 270px;
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
    .title {
        display: flex;
        border-bottom: 0.5px solid #888888;
        margin-bottom: 19.5px;
        padding-bottom: 13px;
    }
    img {
        height: 58.7px;
        width: 54px;
        margin-right: 18px;
        border-radius: 50%;
    }
    p {
        line-height: 19px;
    }
}

.separator {
    h2 {
        padding-bottom: 5px;
        &::after {
            content: "";
            position: absolute;
            width: 79%;
            height: 100px;
            left: 247px;
            bottom: -33px;
            background-image: url("../../../../assets/images/separator.svg");
            background-repeat: no-repeat;
        }
    }
}
.separator-2 {
    h2 {
        &::after {
            content: "";
            position: absolute;
            width: 72%;
            height: 100px;
            left: 332px;
            bottom: -63px;
            background-image: url("../../../../assets/images/separator_2.svg");
            background-repeat: no-repeat;
        }
    }
}

.separator-3 {
    h2 {
        &::after {
            content: "";
            position: absolute;
            width: 83%;
            height: 100px;
            left: 210px;
            bottom: -44px;
            background-image: url("../../../../assets/images/separator_3.svg");
            background-repeat: no-repeat;
        }
    }
}

// .font-baloo{
//     font-family: $secondary-bold-font;
// }
