@import "../../../../assets/css/variables.scss";

.videoInsert {
    width: 100%;
    height: 504px;
}

.change {
    border-radius: 0px 142px;
    background: #df3b8e;
    &-1 {
        max-width: 913px;
        position: relative;
    }
}



.cards {
    border: 2px solid #8863a6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 21px;
    min-width: 233px;
    max-width: 233px;
    min-height: 361px;
    max-height: 361px;
    z-index: 10;
    img {
        max-width: 103px;
        max-height: 135px;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    h3 {
        padding-top: 16px;
    }
    p {
        line-height: 19px;
    }
}

.cards2 {
    border: 0.5px solid #b0b0b0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    max-width: 385px;
    min-height: 270px;
    max-height: 270px;

    .title {
        display: flex;
        border-bottom: 0.5px solid #888888;
        margin-bottom: 19.5px;
        padding-bottom: 13px;
    }
    img {
        height: 58.7px;
        width: 54px;
        margin-right: 18px;
        border-radius: 50%;
    }
    p {
        line-height: 19px;
    }
}

.separator-0 {
    h2 {
        &::after {
            content: none;
        }
    }
}

@media (min-width: 1025px) {
    .row::after {
        content: "";
        position: absolute;
        right: -140px;
        bottom: 26%;
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-left: 90px solid #509fde;
        border-bottom: 60px solid transparent;
    }
    
    .row::before {
        content: "";
        position: absolute;
        left: -110px;
        bottom: 39%;
        background-color: #509FDE;
        width: 1000px;
        height: 27px;
    }
}

// @media screen and (min-width: 0px) and (max-width: 545px) {
//     .row::after {
//         content: "";
//         position: absolute;
//         left: 12px;
//         bottom: -1%;
//         width: 0;
//         height: 0;
//         border-top: 30px solid transparent;
//         border-left: 35px solid #509fde;
//         border-bottom: 30px solid transparent;
//         transform: rotate(90deg);
//     }
    
//     .row::before {
//         content: "";
//         position: absolute;
//         left: 22px;
//         bottom: 2%;
//         background-color: #509FDE;
//         height: 1170px;
//         width: 15px;
//     }
// }


@media (min-width: 821px) {
    .separator {
        h2 {
            padding-bottom: 5px;
            &::after {
                content: "";
                position: absolute;
                width: 73%;
                height: 100px;
                left: 247px;
                bottom: -33px;
                background-image: url("../../../../assets/images/separator.svg");
                background-repeat: no-repeat;
            }
        }
    }
    .separator-2 {
        h2 {
            &::after {
                content: "";
                position: absolute;
                width: 64%;
                height: 100px;
                left: 332px;
                bottom: -63px;
                background-image: url("../../../../assets/images/separator_2.svg");
                background-repeat: no-repeat;
            }
        }
    }
    .separator-3 {
        h2 {
            &::after {
                content: "";
                position: absolute;
                width: 77%;
                height: 100px;
                left: 210px;
                bottom: -44px;
                background-image: url("../../../../assets/images/separator_3.svg");
                background-repeat: no-repeat;
            }
        }
    }
}

@media (min-width: 1025px) {
    .flex-row-lg-23 {
        flex-direction: row;
    }
}

// .font-baloo{
//     font-family: $secondary-bold-font;
// }
