<div class="mx-auto h-full w-full">
  <div class="">
    <div class="bg-slate-200 w-full " style="height:504px;">
      <div class="w-full mx-auto" style="height:504px;">
        <video class="videoInsert" controls>
          <source src="mov.mp4" type="video/mp4">
          Your browser does not support HTML video.
        </video>
      </div>
    </div>
    <!-- circles -->
    <div class="icons flex lg:-mt-12 mt-10 ml-[12%] lg:ml-0">
      <div class="mx-auto lg:flex grid grid-cols-3 z-50">
        <div class="flex justify-center items-center rounded-full lg:w-24 lg:h-24 w-16 h-16 bg-[#965F9E] mr-12">
          <img class="w-8 lg:w-[55px]" src="assets/svg/icon-log.svg" alt="">
        </div>
        <div class="flex justify-center items-center rounded-full lg:w-24 lg:h-24 w-16 h-16 bg-[#965F9E] mr-12">
          <img class="w-8 lg:w-[55px]" src="assets/svg/faculty.svg" alt="">
        </div>
        <div class="flex justify-center items-center rounded-full lg:w-24 lg:h-24 w-16 h-16 bg-[#965F9E] mr-12">
          <img class="w-8 lg:w-[55px]" src="assets/svg/users.svg" alt="">
        </div>
        <div class="flex justify-center items-center rounded-full lg:w-24 lg:h-24 w-16 h-16 ml-[74px] lg:ml-0 bg-[#965F9E] mr-12">
          <img class="w-8 lg:w-[55px]" src="assets/svg/book.svg" alt="">
        </div>
        <div class="flex justify-center items-center rounded-full lg:w-24 lg:h-24 w-16 h-16 ml-[50%] lg:ml-0 bg-[#965F9E]">
          <img class="w-8 lg:w-[55px]" src="assets/svg/lettre.svg" alt="">
        </div>
      </div>
    </div>
    <section>
      <div class="mt-16 text-center px-14 mb-20">
        <button id="gotop" (click)="goUp()"
          class="fixed right-[3%] bottom-[5%] flex items-center justify-center w-14 h-14 rounded-full bg-[#509FDE] z-20">
          <img src="assets/svg/up.svg" alt="">
        </button>
        <h1 class="text-[65px] lg:text-[100px] font-baloo font-bold mb-8 lg:mb-0 leading-[72px]">WATT Success</h1>
        <h3 class="text-[30px] mb-8 lg:mb-2">Votre bilan de compétences certifié en ligne !</h3>
        <h4 class="text-[18px] mb-8 lg:mb-4">Par le cabinet Groupe ProActiv</h4>
        <div class="flex justify-center items-center">
          <span><img class="mr-8" src="assets/svg/proactiv.svg" alt=""></span>
          <span><img class="mr-8" src="assets/svg/qualiopi.svg" alt=""></span>
          <span><img src="assets/svg/datadock.svg" alt=""></span>
        </div>
      </div>
      <div class="change change-1 py-6 pl-4 lg:mx-auto mx-8 mb-12">
        <div class="absolute lg:right-10 right-[22%] lg:-top-[62px] bottom-[-78px]">
          <img class="" src="assets/svg/CPF.svg" alt="">
        </div>
        <div class="flex">
          <span class="h-10"><img class="mr-4 -mt-16" src="assets/svg/virgule.svg" alt=""></span>
          <h1 class="text-[40px] text-white pb-2 font-baloo font-bold leading-[50px] lg:leading-normal">BE YOUR CHANGE</h1>
        </div>
        <p class="text-justify text-white max-w-[732px] m-2.5 lg:ml-28 lg:mr-5 text-lg font-bold px-8 pb-8 lg:px-0">Des séances de coaching et
          des ateliers pour vous reconnecter à votre potentiel
          et découvrir le projet qui vous fait vibrer.
          Un accompagnement conçu par des experts, psychologues du travail et coachs.
          Sur 6 à 8 semaines, éligible au CPF / 100 % finançable.
        </p>
      </div>
      <div class="flex flex-col lg:flex-row justify-center items-center lg:mt-2 mb-20 mt-32">
        <div class="text-center lg:mr-16 mr-0 mb-8 lg:mb-0">
          <img class="mx-auto" src="assets/svg/calendar.svg" alt="">
          <span class="text-3xl">25</span>
          <p class="text-lg">ans d'expérience</p>
        </div>
        <div class="text-center lg:mr-16 mr-0 mb-8 lg:mb-0">
          <img class="mx-auto" src="assets/svg/node.svg" alt="">
          <span class="text-3xl">14</span>
          <p class="text-lg">partenaires</p>
        </div>
        <div class="text-center lg:mr-16 mr-0 mb-8 lg:mb-0">
          <img class="ml-12" src="assets/svg/user-check.svg" alt="">
          <span class="text-3xl">2400</span>
          <p class="text-lg">clients accompagnés</p>
        </div>
        <div class="text-center max-w-[150px]">
          <img class="mx-auto" src="assets/svg/smile.svg" alt="">
          <span class="text-3xl">85%</span>
          <p class="text-lg">de résultats satisfaisant</p>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row justify-center gap-20 lg:gap-44 mb-14">
        <div class="relative rounded-2xl mx-auto lg:mx-0">
          <img class="w-[396px]- w-[320px] h-auto" src="assets/images/se_faire_accompagner.png" alt="">
          <div class="h-[157px] min-w-[370px]- min-w-[300px] bg-[#509FDE] opacity-90 absolute left-[8px] bottom-[14px] rounded-b-2xl">
            <div class="flex items-center justify-center h-full">
              <button class="uppercase text-4xl text-white text-center">Se faire<br>accompagner</button>
            </div>
          </div>
        </div>
        <div class="relative rounded-2xl mx-auto lg:mx-0">
          <img class="w-[396px]- w-[320px] h-auto" src="assets/images/devenir_coach.png" alt="">
          <div class="h-[157px] min-w-[370px]- min-w-[300px] bg-[#509FDE] opacity-90 absolute left-[8px] bottom-[14px] rounded-b-2xl">
            <div class="flex items-center justify-center h-full">
              <button class="uppercase text-4xl text-white text-center">Devenir coach</button>
            </div>
          </div>

        </div>
      </div>

      <div class="separator mt-12 mb-12 lg:ml-28 px-4">
        <h2 class="font-bold text-3xl text-pink-500 whitespace-nowrap relative">La formule My Way</h2>
      </div>

      <div class="flex flex-col flex-row-lg-23 justify-center items-center mt-12 mb-28">
        <img src="assets/images/my-way.png" alt="my-way" class="mr-14 ml-8 p-6 lg:p-0">
        <div class="change py-6 pl-4 mb-12 ml-8 mt-10 mx-8 max-w-[615px]">
          <div>
            <h1 class="text-[40px] text-white p-6 lg:pb-2 font-baloo font-bold">5 semaines en 3 étapes</h1>
          </div>
          <p class="text-justify text-white ml-5 lg:ml-28 mr-5 text-lg font-bold pb-8">Pour construire un projet
            professionnel solide qui vous ressemble, grâce à l'expertise de nos WATT Coachs.
            WATT vous propose un accompagnement en ligne qui alterne des exercices de réflexion, d'évaluation et
            d'introspection grâce à des outils de développement personnel performants et un coaching personnalisé.
          </p>
        </div>
      </div>
      <!-- cards -->
      <div class="flex justify-center items-center overflow-hidden mb-20">
        <div class="row relative">
          <div class="flex justify-center flex-wrap gap-20 lg:-ml-6">
            <div class="cards ml-24- mr-20-">
              <img src="assets/images/image_1.png" alt="" class="mb-6">
              <h3 class="text-3xl font-bold font-baloo text-center mb-3">BE'n Dream</h3>
              <p class="font-normal text-sm text-center">Un parcours en 5 étapes pour découvrir ce qui vous anime et
                vous connecter à votre ADN Vocationnel.</p>
            </div>
            <div class="cards mx-10-">
              <img src="assets/images/image_2.png" alt="" class="mb-6">
              <h3 class="text-3xl font-bold font-baloo text-center mb-3">Go'n Believe</h3>
              <p class="font-normal text-sm text-center">Un parcours en 4 étapes pour trouver le métier de vos rêves en
                identifiant vos forces et vos talents.</p>
            </div>
            <div class="cards ml-20-">
              <img src="assets/images/image_3.png" alt="" class="mb-6">
              <h3 class="text-3xl font-bold font-baloo text-center mb-3">Go'n Become</h3>
              <p class="font-normal text-sm text-center">Un parcours en 6 étapes pour vous lancer en toute confiance
                dans la réalisation de votre projet professionnel ou de formation.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-[930px] mx-auto text-center mb-36 -mt-5">
        <p class="font-medium text-xl p-6 lg:p-0">Essayez dès maintenant et gratuitement le module My Way et choisissez votre WATT
          Coach pour être
          accompagné efficacement dans votre projet !</p>
      </div>

      <div class="separator-2 mt-12 mb-20 lg:mb-40 lg:ml-28 px-4">
        <h2 class="font-bold text-3xl text-pink-500 whitespace-nowrap relative">Ils nous ont fait confiance</h2>
      </div>

      <div class="flex flex-col flex-row-lg-23 justify-center items-center mb-40 gap-[30px]">
        <div class="cards2 mx-4 mb-5 lg:mb-0">
          <div class="title ">
            <img src="assets/images/user_1.png" alt="" class="">
            <div class="text-xl">
              <h3 class="font-bold font-baloo">Audrey</h3>
              <h4 class="font-normal">Bilan de compétences</h4>
            </div>
          </div>
          <p class="font-normal text-base text-left">Voilà un an que j'ai fini mon bilan de compétences avec Julie
            Morin. Je suis actuellement en stage et un contrat derrière dans mon nouveau métier. Sans ce bilan, je
            serai sûrement encore à mon ancien poste. Merci du fond du cœur.</p>
        </div>
        <div class="cards2 mx-4 mb-5 lg:mb-0">
          <div class="title">
            <img src="assets/images/user_2.png" alt="" class="">
            <div class="text-xl">
              <h3 class="font-bold font-baloo">Jérôme</h3>
              <h4 class="font-normal">Bilan de compétences</h4>
            </div>
          </div>
          <p class="font-normal text-base text-left">Pour moi ce bilan a été une démarche très enrichissante qui m'a
            permis de comprendre que je pourrais me positionner sur un autre métier et projet professionnel et qu'un
            nouveau départ est possible. Aujourd'hui, j'attends le financement pour mettre en œuvre un de mes projets.
            Merci à vous.</p>
        </div>
        <div class="cards2 mx-4 relative">
          <div class="title">
            <img src="assets/images/user_3.png" alt="" class="">
            <div class="text-xl">
              <h3 class="font-bold font-baloo">Stéphanie B</h3>
              <h4 class="font-normal">Bilan de compétences</h4>
            </div>
          </div>
          <p class="font-normal text-base text-left">Je tiens particulièrement à souligner que les qualités
            professionnelles de Mme Morin m'ont vraiment aidé tout au long de ma démarche.
            Je la remercie pour toute cette belle expérience.</p>
          <button class="text-xl font-normal mt-7 absolute right-7 -bottom-14">> Lire plus de témoignages</button>
        </div>
      </div>

      <div class="separator-3 mt-20 mb-12 lg:ml-28 px-4">
        <h2 class="font-bold text-3xl text-pink-500 whitespace-nowrap relative">Nos partenaires</h2>
      </div>

      <div class="flex flex-col lg:flex-row justify-center items-center gap-9 mb-20">
        <span><img src="assets/images/sopas_1.png" alt=""></span>
        <span><img src="assets/images/africa_2.png" alt=""></span>
        <span><img src="assets/images/HB-3.png" alt=""></span>
        <span><img src="assets/images/devup_4.png" alt=""></span>
        <span class="-mt-20 lg:mt-0"><img src="assets/images/riad-tours_5.png" alt=""></span>
      </div>
    </section>
  </div>
</div>