.footer{
    #content{
        background-color: #4D4D4D;
        // height: 257px;
        padding-top: 40px;
        // padding-left: 46px;
        padding-bottom: 57px;
    }
    #legal{
        height: 60px;
    }
}


ul{
    li{
        margin-bottom: 8px;
    }
}