<footer class="footer w-full items-center z-20">
    <div id="content" class="flex justify-evenly flex-wrap px-4">
        <div class="text-white max-w-[280px] mr-16 mb-8 xl:mb-0">
            <h2 class="border-b-2 border-white py-2 mb-3">ACCÈS RAPIDES</h2>
            <div class="flex">
                <ul class="list-none mr-14">
                    <li><a href=""> WATT Success</a></li>
                    <li><a href=""> Nos modules</a></li>
                    <li><a href=""> Guides</a></li>
                    <li><a href=""> Actualités</a></li>
                </ul>
                <ul class="list-none">
                    <li><a href=""> Devenir coach</a></li>
                    <li><a href=""> Témoignages</a></li>
                    <li><a href=""> Handicap</a></li>
                    <li><a href=""> Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="text-white max-w-[193px] mr-8 w-44 mb-8 xl:mb-0">
            <h2 class="border-b-2 border-white py-2 mb-3">PARTENAIRES</h2>
            <ul class="list-none">
                <li><a href="">Partenaire 1</a></li>
                <li><a href="">Partenaire 2</a></li>
            </ul>
        </div>
        <div class="text-white max-w-[193px] mr-8 mb-8 xl:mb-0">
            <h2 class="border-b-2 border-white py-2 mb-3">CONTACT</h2>
            <ul class="list-none">
                <li>06 12 09 54 98</li>
                <li>support@watt.fr</li>
                <li>3 imp. 58 rue George Sand, 37000 Tours</li>
            </ul>
        </div>
        <div class="text-white mb-8 xl:mb-0">
            <div class="py-2 mb-3 flex">
                <!-- icons -->
                <a href="" class="mr-2"> <img src="assets/svg/facebook.svg" alt="" class="w-4 h-4 bg-white"></a>
                <a href="" class="mr-2"> <img src="assets/svg/linkdin.svg" alt="" class="w-4 h-4 bg-white"></a>
                <a href="" class="mr-2"> <img src="assets/svg/instagram.svg" alt="" class="w-4 h-4 bg-white"></a>
                <a href="" class="mr-2"> <img src="assets/svg/twitter.svg" alt="" class="w-4 h-4 bg-white"></a>
            </div>
            <div class="bg-pink-500 py-[12px] px-3" style="width:365px;height:108px;border-radius: 0px 40px 40px 40px;">
                <h3 class="mb-2 text-base">Inscrivez-vous à la Newsletter</h3>
                <div class="inline-block mb-2">
                    <input class="mr-2 py-0.5 px-2 rounded-md text-xs min-w-[220px] text-black outline-none" placeholder="Saisissez votre email..." type="text">
                    <button class="rounded-md text-xs py-1 px-4 bg-white text-black font-bold">S'INSCRIRE</button>
                </div>
                <div class="inline-block ml-6">
                    <input class="mr-2" type="checkbox" name="" id="">
                    <span class="text-xs">En m'inscrivant, j'accepte les <a class="underline" href="">conditions d'utilisation.</a></span>
                </div>
            </div>
        </div>

    </div>
    <div id="legal" class="flex items-center justify-center font-bold text-lg ">
        <div>
            <button class="mx-4">Mentions légales</button> | <button class="mx-4">Conditions Générales de Ventes</button> | <button class="mx-4">Gestion des cookies</button> | <button class="mx-4">Confidentialité</button> | <button class="mx-4">Plan du site</button>
        </div>
    </div>
</footer>